.nav {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    color: white;
    /* transition: all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
    transition: all .4s ease;
    z-index: 1000;
}           

.nav.solid-background {
    padding: .5rem 1.25rem;
    background-color: #29434e;
}

.Logo {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 20%;
}

.NavLists {
    display: flex;
    width: 60%;
    justify-content: center;
}

.NavLists .Lists {
    display: flex;
}

.NavLists .sm-nav-title {
    display: none;
}

.NavLists .list {
    margin: 0 1rem;
    cursor: pointer;
}

.NavLists .list::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    position: unset;
    transition: all .3s;
    border-radius: 20rem;
    background-color: white;
}

.NavLists .list:hover::after {
    width: calc(100% - 10px);
}

.nav .Contact-btn {
    width: 20%;
    min-width: 100px;
}

.nav .Contact-btn button {
    border: 1px #fff solid;
    border-radius: .75rem;
    padding: 0 .75rem;
}

.nav .Contact-btn button:hover {
    background-color: #e1e1e117;
}

.nav .Contact-btn button:active {
    background-color: #e1e1e130;
}


.ham-menu {
    display: none;
}

.ham-bar {
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 1.5rem;
    margin: 5px;
    border-radius: 5rem;
}

/* for screen small than 660 px */
/* hamburger menue */
@media screen and (max-width:660px) {

    nav {
        background-attachment: fixed;
    }

    .NavLists {
        width: 100vw;
        height: 0;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transform: translateX(20rem);
        transition: all .5s cubic-bezier(0.65, 0.05, 0.36, 1);
        ;
    }

    .NavLists .Lists {
        flex-direction: column;
    }

    .NavLists .Lists-container {
        display: block;
        background-color: #2c4665ff;
        padding-top: 3rem;
        height: 100vh;
        width: 15rem;
        overflow: auto;
        overflow-y: visible;
        border-radius: .5rem 0 0 .5rem;
    }

    .sm-nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavLists .sm-nav-title {
        display: block;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0;
    }

    .NavLists .Lists-container::before {
        content: "";
        background:
            url(/kreebi.svg) no-repeat center / 50px 50px;
        height: 50px;
        display: block;
        width: 50px;
        margin: auto;
    }

    .NavLists .list {
        padding: 1.5rem 0;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: rgb(46 72 107);
    }

    .NavLists .list:active {
        background-color: rgb(34, 57, 87);
    }

    .expendedNav .NavLists {
        transform: translateX(0%);
        height: 100vh;
    }

    .en-btn {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .ham-menu {
        display: block;
        z-index: 10;
        margin-right: 0;
        transition: all .5s ease;
    }

    .expendedNav .ham-menu {
        margin-top: 5px;
    }

    .ham-menu .ham-bar {
        transition: all .7s;
        transform: rotate(0deg);
    }

    .expendedNav .ham-menu .ham-bar-1 {
        transform: rotate(45deg);
    }

    .expendedNav .ham-menu .ham-bar-2 {
        width: 0;
        background-color: unset;
    }

    .expendedNav .ham-menu .ham-bar-3 {
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
    }
}