.nav {
    padding: 1.25rem;
    display: flex;
    align-items: center;
}

.Logo {
    font-size: 1.875rem;
    line-height: 2.25rem;
    width: 20%;
}

.NavLists {
    display: flex;
    width: 60%;
    justify-content: center;
}
.NavLists .Lists{
    display: flex;
    text-align: center;
}

.nav .Contact-btn {
    width: 20%;
    min-width: 100px;
}

.nav .Contact-btn button {
    border: 1px rgb(75 85 99) solid;
    border-radius: .75rem;
    padding: 0 .75rem;
}

.ham-menu {
    display: none;
}

.ham-bar {
    margin-right: 0px;
    background-color: black;
    height: 4px;
    width: 1.5rem;
    margin: 5px;
    border-radius: 5rem;
}

/* for screen small than 660 px */
/* hamburger menue */
@media screen and (max-width:660px) {
    
    nav {
        background-attachment: fixed;
    }

    .NavLists {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transform: translateX(20rem);
        transition: transform .5s  cubic-bezier(0.65, 0.05, 0.36, 1);;
    }
    
    .NavLists .Lists {
        display: block;
        background-color: rgb(226, 226, 226);
        padding: 3rem 5rem 0;
        height: 100vh;
        width: 15rem;
    }
    .NavLists .list {
        margin-top: 7vh;
    }

    .NavLists.open {
        transform: translateX(0%);
    }
    .en-btn{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .ham-menu {
        display: block;
        z-index: 10;
        margin-right: 0;
    }
    .ham-menu .ham-bar{
        transition: all .7s;
        transform: rotate(0deg);
    }
    .ham-menu.open .ham-bar-1{
        transform: rotate(45deg);
    }
    .ham-menu.open .ham-bar-2{
        width: 0;
    }
    .ham-menu.open .ham-bar-3{
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
    }
}