@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    margin: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #a3a3a3;
  }
  ::-webkit-scrollbar-thumb {
    background: #1B2430;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0f87e3;
  }